.tree_view{
   background: black;
   border: dotted 1px grey;
   color: white;
   font-size: 20px;
   font-family: Liberation Sans Regular;
}


.debug{
   border: 0px solid red;
}

.bold{
   border: 0px solid red;
   font-weight: bold;
}